{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="card">

    <div class="card-header">
        <a class="text-decoration-none"
           href="{% url 'learning_logs:topic' topic.id %}">
            {{ topic }}
        </a>
    </div>

    <div class="card-body">

        <h3 class="mb-4">
            Add New Entry
        </h3>

        <form action="{% url 'learning_logs:new_entry' topic.id %}"
              method="post">

            {% csrf_token %}

            {% bootstrap_form form %}

            <button class="btn btn-primary"
                    name="submit">
                Add Entry
            </button>

        </form>

    </div>

</div>

{% endblock content %}