{% extends "learning_logs/base.html" %}

{% block content %}

<h1>{{ topic.text }}</h1>

<ul>

{% for entry in entries %}

    <li>

        <p>
            {{ entry.date_added }}
        </p>

        <p>
            {{ entry.text }}
        </p>

        <p>
            <a href="{% url 'learning_logs:delete_entry' entry.id %}">
                Delete entry
            </a>
        </p>

    </li>

{% empty %}

    <li>
        No entries have been added yet.
    </li>

{% endfor %}

</ul>

<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">
        Add a new entry
    </a>
</p>

{% endblock content %}